<div class="jumbotron selection" id="home">
    <h2>BMT Group</h2>
    <p class="lead">BMT Group is a consultancy firm specialized in quantitative risk management for financial institutions. Through their extensive expertise, proven track record and motivation to perform, our consultants help companies overcome the challenges in risk and regulatory management.  Solving the greeks is what we do!</p>
    <a href="#delta">
        <img border="0" src="https://image.flaticon.com/icons/svg/36/36669.svg" width="50" height="50">
    </a>
</div>

<div class="parallax1">
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<div class="jumbotron selection" id="delta">
    <h2>Delta</h2>
    <p>
        We understand the challenges you are facing and we bring change to your risk management organization
        BMT Group provides consultancy services in risk management governance, financial regulations, model creation and validation.
        We help companies organize their risk organization and create the framework fitting their business model and risk strategies. We build scorecards and help you diversify and allocate risks within your organization.
        Our services include model development and model validation of credit and market risk models. We provide actuarial analysis and modeling for pension funds and insurers.
        BMT understands the regulatory pressure and challenges in the financial sector. Our consultants help you cope with the requirements and implement the adequate frameworks for IFRS9, Basel Regulation, Solvency.
    </p>
    <a href="#theta">
        <img border="0" src="https://image.flaticon.com/icons/svg/36/36669.svg" width="50" height="50">
    </a>
</div>

<div class="parallax2">
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<div class="jumbotron selection" id="theta">
    <h2>Theta</h2>
    <p>
        We deliver highly specialized experts in a flexible mix of different experience levels at the time you need them
        The consultancy base of BMT Group is a flexible mix of experts with various professional experiences. All of our consultants have at least a Master degree in quantitative sciences and a proven record of expertise. But the most important is that they are all very hands-on, proactive to discuss with you what the best solution to your needs is and very motivated to achieve your common goals.
    </p>
    <a href="#vega">
        <img border="0" src="https://image.flaticon.com/icons/svg/36/36669.svg" width="50" height="50">
    </a>
</div>

<div class="parallax3">
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<div class="jumbotron selection" id="vega">
    <h2>Vega</h2>
    <p>
        We match the high volatility and demand for quantitative professionals with a constant supply of experts
        We understand that the regulatory environment and focus on risk management in the financial sector drives up the demand for risk quantitative professionals. BMT Group matches that volatile demand by a constant supply of the risk consultants. We achieve that by working with an extensive network of local recruitment partners and universities in Central and Eastern Europe.
    </p>
    <a href="#contact">
        <img border="0" src="https://image.flaticon.com/icons/svg/36/36669.svg" width="50" height="50">
    </a>
</div>

<div class="parallax4">
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<div class="jumbotron selection" id="contact">
    <h2>Contact</h2>
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>

<div class="parallax5">
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<script type="text/javascript" src="~/Scripts/navigation.js"></script>
