<div class="jumbotron selection" id="home">
    <img border="0" src="~/Content/Images/logo2.png" class="logo">
    <p>BMT Group is a consultancy firm specialized in quantitative risk management for financial institutions. Through their extensive expertise, proven track record and motivation to perform, our consultants help companies overcome the challenges in risk and regulatory management.  Solving the greeks is what we do!</p>
    <a href="#delta">
        <img border="0" src="https://image.flaticon.com/icons/svg/36/36669.svg" width="50" height="50">
    </a>
</div>

<div id="wrapper">
    <div class="parallax1 selection">
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
</div>

<div class="jumbotron selection" id="delta">
    <h2>Delta</h2>
    <h3>We understand the challenges you are facing and we bring change to your risk management organization</h3>
    <p>
        BMT Group provides consultancy services in risk management governance, financial regulations, model creation and validation.
        We help companies organize their risk organization and create the framework fitting their business model and risk strategies. We build scorecards and help you diversify and allocate risks within your organization.
        Our services include model development and model validation of credit and market risk models. We provide actuarial analysis and modeling for pension funds and insurers.
        BMT understands the regulatory pressure and challenges in the financial sector. Our consultants help you cope with the requirements and implement the adequate frameworks for IFRS9, Basel Regulation, Solvency.
    </p>
    <a href="#theta">
        <img border="0" src="https://image.flaticon.com/icons/svg/36/36669.svg" width="50" height="50">
    </a>
</div>

<div class="parallax2 selection">
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<div class="jumbotron selection" id="theta">
    <h2>Theta</h2>
    <h3>We deliver highly specialized experts in a flexible mix of different experience levels at the time you need them</h3>
    <p>
        The consultancy base of BMT Group is a flexible mix of experts with various professional experiences. All of our consultants have at least a Master degree in quantitative sciences and a proven record of expertise. But the most important is that they are all very hands-on, proactive to discuss with you what the best solution to your needs is and very motivated to achieve your common goals.
    </p>
    <a href="#vega">
        <img border="0" src="https://image.flaticon.com/icons/svg/36/36669.svg" width="50" height="50">
    </a>
</div>

<div class="parallax3 selection">
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<div class="jumbotron selection" id="vega">
    <h2>Vega</h2>
    <h3>We match the high volatility and demand for quantitative professionals with a constant supply of experts</h3>
    <p>
        We understand that the regulatory environment and focus on risk management in the financial sector drives up the demand for risk quantitative professionals. BMT Group matches that volatile demand by a constant supply of the risk consultants. We achieve that by working with an extensive network of local recruitment partners and universities in Central and Eastern Europe.
    </p>
    <a href="#contact">
        <img border="0" src="https://image.flaticon.com/icons/svg/36/36669.svg" width="50" height="50">
    </a>
</div>

<div class="parallax4 selection">
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<div class="jumbotron selection" id="contact">
    <h2>Contact</h2>
    <p>Send us a message here : <a href="mailto:info@bmtgroup.nl" target="_top">info@bmtgroup.nl</a></p>
    <h3>Our offices:</h3>
    <div class="col-md-5" style="height:100%">
        <h3>BMT Group Netherlands</h3>
        <p>Loosdrechtseweg 80</p>
        <p>1215 JZ Hilversum</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2444.3382508976983!2d5.1525025157962565!3d52.21907217975841!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c66c9c8d8541f9%3A0xe673a457f310d653!2sLoosdrechtseweg+80%2C+1215+JZ+Hilversum%2C+Netherlands!5e0!3m2!1sen!2sbg!4v1533623578587" frameborder="0" style="border:0; width:100%; height:100%" allowfullscreen></iframe>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <h3>BMT Group Bulgaria</h3>
        <p>Bul. Tsar Boris III Obedinitel 72</p>
        <p>Plovdiv 4000</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2958.0194043118176!2d24.74788731556819!3d42.149871579201594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd1a2b57e85c5%3A0xc8152577c11c94ba!2sbul.+%22Tsar+Boris+III+Obedinitel%22+72%2C+4000+Kapana%2C+Plovdiv!5e0!3m2!1sen!2sbg!4v1533623631929" frameborder="0" style="border:0; width:100%; height:100%" allowfullscreen></iframe>
    </div>
    <a href="#home">
        <img border="0" src="https://image.flaticon.com/icons/svg/61/61032.svg" width="50" height="50">
    </a>
</div>

<div class="parallax5 selection">
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<script type="text/javascript" src="~/Scripts/navigation.js"></script>
<!--<script type="text/javascript" src="~/Scripts/formValidator.js"></script>-->
